<a href="https://gitlab.com/he.ale.cladera" target="_blank">
    <div class="h-full relative shadow-2xl shadow-gray-900 overflow-hidden group">
        <div class="absolute -bottom-10 group-hover:top-0 left-0 w-full h-full group-hover:bg-gray-900 transition-all ease-in-out duration-500">
            <div class="w-full h-full p-5 relative">
                <div class="absolute bottom-0 group-hover:bottom-24 text-white text-left transition-all ease-in-out duration-500">
                    <h2 class="text-2xl font-bold text-white mb-0 pb-1">Standard Color</h2>
                    <p class="text-lg font-light text-white">Lorem ipsum dolor sit amet, #brands.</p>
                </div>
            </div>
        </div>
        <img src="https://png.pngtree.com/background/20230517/original/pngtree-wolfs-full-hd-wallpaper-art-wallpaper-1920x1080-1080p-picture-image_2634113.jpg" class="w-full z-0 h-full object-fill example">
    </div>
</a>