<!-- <footer class="container h-fit  bg-gray-500 text-white flex flex-row-reverse"> -->
    <div class="w-fit h-fit text-right px-6 py-6 divide-y divide-white">
      <div class="">
        <h1>Contacts me</h1>
        <p>He.ale.cladera&#64;gmail.com</p>
        <p>cladera.ale&#64;gmail.com</p>
        <p>he.ale.cladera&#64;outlook.com</p>
        <p>+591 63859667</p>
      </div>
      <div class="">
        <h1>Others</h1>
        <p>LinkendIn</p>
        <p>GitHub</p>
        <p>GitLab</p>
        <p>Tableau</p>
        <p>DockerHub</p>
      </div>
    </div>
    
  <!-- </footer> -->