<!-- class="relative overflow-hidden" -->
<!-- <section [ngStyle]="{'background-image': 'url(' + images[currentImageIndex] + ')'}" class="h-screen flex items-center justify-center  inset-0 bg-cover bg-center transition-all duration-1000" id="about"> -->
<section  class="h-screen flex items-center justify-center" id="about">
    <div class="w-4/5 h-fit md:py-16 py-1 sticky top-0">
      <h1 class="md:text-5xl text-3xl font-mono">
        Hello I'm Manuel Alejandro Cladera Mamani
      </h1>
      <p class="font-mono">I'm a computer engineer. I use my passion and skills to create applications. I develop applications using SpringBoot and Angular. I know a little Django, React, Fast Api and Express. </p>
    </div>
</section>