<!--rm -rf carpeta <nav></nav>
<header></header>
<main>
  <router-outlet></router-outlet>
</main>
<footer></footer> -->
<section class="bg-[url('/background.jpg')] bg-cover bg-no-repeat">
    <header class="relative z-10">
        <app-nav-component/>
        <div class="flex items-center justify-center h-96 md:h-screen">
          <div class="w-3/5 font-mono bg-white/80 text-center transition-transform duration-300 transform hover:scale-110 h-fit">
            <p class="md:text-2xl  text-base ">
              I am a full stack developer. I love solving programming exercises in different programming languages ​​such as Java, Python, JavaScript, TypeScript and C#. Sometimes I build machine learning models.
            </p>
          </div>
        </div>
    </header>
</section>

<main class="h-fit bg-gray-200">
    <app-about/>
    <section class="h-fit py-10 bg-w sm:py-16 lg:py-24 relative" id="projects">
    <app-projects></app-projects>
</section>

</main>
<app-footer-component></app-footer-component>