<!--rm -rf carpeta <nav></nav>
<header></header>
<main>
  <router-outlet></router-outlet>
</main>
<footer></footer> -->
<section class="bg-[url('/background.jpg')] bg-cover bg-no-repeat">
    <header class="relative z-10">
        <app-nav-component class="relative z-20"/>
        <div class="flex items-center justify-center h-96 md:h-screen">
          <div class="w-3/5 font-mono bg-white/80 text-center transition-transform duration-300 transform hover:scale-110 h-fit">
            <p class="md:text-2xl  text-base ">
              I am a full stack developer. I love solving programming exercises in different programming languages ​​such as Java, Python, JavaScript, TypeScript and C#. Sometimes I build machine learning models.
            </p>
          </div>
        </div>
    </header>
</section>

<main class="h-fit bg-gray-200">
  <app-about/>
  <section class="h-fit py-10 bg-w sm:py-16 lg:py-24 relative" id="projects">
    <div class="container max-w-screen-xl mx-auto px-4">
        <h2 class="text-3xl font-light text-black sm:text-4xl lg:text-5xl mb-20">
            Nav bar secondary
        </h2>

        <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
            <a href="#" class="shadow-1xl relative">
                <div class="h-full relative shadow-2xl shadow-gray-900 overflow-hidden group">
                    <div class="absolute -bottom-10 group-hover:top-0 left-0 w-full h-full group-hover:bg-gray-900 transition-all ease-in-out duration-500">
                        <div class="w-full h-full p-5 relative">
                            <div class="absolute bottom-0 group-hover:bottom-24 text-white text-left transition-all ease-in-out duration-500">
                                <h2 class="text-2xl font-bold text-white mb-0 pb-1">Standard Color</h2>
                                <p class="text-lg font-light text-white">Lorem ipsum dolor sit amet, #brands.</p>
                            </div>
                        </div>
                    </div>
                    <img src="https://png.pngtree.com/background/20230517/original/pngtree-wolfs-full-hd-wallpaper-art-wallpaper-1920x1080-1080p-picture-image_2634113.jpg" class="w-full z-0 h-full object-fill example">
                </div>
            </a>
            <a href="#" class="shadow-1xl relative">
                <div class="h-full relative shadow-2xl shadow-gray-900 overflow-hidden group">
                    <div class="absolute -bottom-10 group-hover:top-0 left-0 w-full h-full group-hover:bg-gray-900 transition-all ease-in-out duration-500">
                        <div class="w-full h-full p-5 relative">
                            <div class="absolute bottom-0 group-hover:bottom-24 text-white text-left transition-all ease-in-out duration-500">
                                <h2 class="text-2xl font-bold text-white mb-0 pb-1">Standard Color</h2>
                                <p class="text-lg font-light text-white">Lorem ipsum dolor sit amet, #brands.</p>
                            </div>
                        </div>
                    </div>
                    <img src="https://png.pngtree.com/background/20230517/original/pngtree-wolfs-full-hd-wallpaper-art-wallpaper-1920x1080-1080p-picture-image_2634113.jpg" class="w-full z-0 h-full object-fill example">
                </div>
            </a>
            <a href="#" class="shadow-1xl relative">
                <div class="h-full relative shadow-2xl shadow-gray-900 overflow-hidden group">
                    <div class="absolute -bottom-10 group-hover:top-0 left-0 w-full h-full group-hover:bg-gray-900 transition-all ease-in-out duration-500">
                        <div class="w-full h-full p-5 relative">
                            <div class="absolute bottom-0 group-hover:bottom-24 text-white text-left transition-all ease-in-out duration-500">
                                <h2 class="text-2xl font-bold text-white mb-0 pb-1">Standard Color</h2>
                                <p class="text-lg font-light text-white">Lorem ipsum dolor sit amet, #brands.</p>
                            </div>
                        </div>
                    </div>
                    <img src="https://png.pngtree.com/background/20230517/original/pngtree-wolfs-full-hd-wallpaper-art-wallpaper-1920x1080-1080p-picture-image_2634113.jpg" class="w-full z-0 h-full object-fill example">
                </div>
            </a>
            <a href="#" class="shadow-1xl relative">
                <div class="h-full relative shadow-2xl shadow-gray-900 overflow-hidden group">
                    <div class="absolute -bottom-10 group-hover:top-0 left-0 w-full h-full group-hover:bg-gray-900 transition-all ease-in-out duration-500">
                        <div class="w-full h-full p-5 relative">
                            <div class="absolute bottom-0 group-hover:bottom-24 text-white text-left transition-all ease-in-out duration-500">
                                <h2 class="text-2xl font-bold text-white mb-0 pb-1">Standard Color</h2>
                                <p class="text-lg font-light text-white">Lorem ipsum dolor sit amet, #brands.</p>
                            </div>
                        </div>
                    </div>
                    <img src="https://png.pngtree.com/background/20230517/original/pngtree-wolfs-full-hd-wallpaper-art-wallpaper-1920x1080-1080p-picture-image_2634113.jpg" class="w-full z-0 h-full object-fill example">
                </div>
            </a>
            <a href="#" class="shadow-1xl relative">
                <div class="h-full relative shadow-2xl shadow-gray-900 overflow-hidden group">
                    <div class="absolute -bottom-10 group-hover:top-0 left-0 w-full h-full group-hover:bg-gray-900 transition-all ease-in-out duration-500">
                        <div class="w-full h-full p-5 relative">
                            <div class="absolute bottom-0 group-hover:bottom-24 text-white text-left transition-all ease-in-out duration-500">
                                <h2 class="text-2xl font-bold text-white mb-0 pb-1">Standard Color</h2>
                                <p class="text-lg font-light text-white">Lorem ipsum dolor sit amet, #brands.</p>
                            </div>
                        </div>
                    </div>
                    <img src="https://png.pngtree.com/background/20230517/original/pngtree-wolfs-full-hd-wallpaper-art-wallpaper-1920x1080-1080p-picture-image_2634113.jpg" class="w-full z-0 h-full object-fill example">
                </div>
            </a>
            <a href="#" class="shadow-1xl relative">
                <div class="h-full relative shadow-2xl shadow-gray-900 overflow-hidden group">
                    <div class="absolute -bottom-10 group-hover:top-0 left-0 w-full h-full group-hover:bg-gray-900 transition-all ease-in-out duration-500">
                        <div class="w-full h-full p-5 relative">
                            <div class="absolute bottom-0 group-hover:bottom-24 text-white text-left transition-all ease-in-out duration-500">
                                <h2 class="text-2xl font-bold text-white mb-0 pb-1">Standard Color</h2>
                                <p class="text-lg font-light text-white">Lorem ipsum dolor sit amet, #brands.</p>
                            </div>
                        </div>
                    </div>
                    <img src="https://png.pngtree.com/background/20230517/original/pngtree-wolfs-full-hd-wallpaper-art-wallpaper-1920x1080-1080p-picture-image_2634113.jpg" class="w-full z-0 h-full object-fill example">
                </div>
            </a>
            <a href="#" class="shadow-1xl relative">
                <div class="h-full relative shadow-2xl shadow-gray-900 overflow-hidden group">
                    <div class="absolute -bottom-10 group-hover:top-0 left-0 w-full h-full group-hover:bg-gray-900 transition-all ease-in-out duration-500">
                        <div class="w-full h-full p-5 relative">
                            <div class="absolute bottom-0 group-hover:bottom-24 text-white text-left transition-all ease-in-out duration-500">
                                <h2 class="text-2xl font-bold text-white mb-0 pb-1">Standard Color</h2>
                                <p class="text-lg font-light text-white">Lorem ipsum dolor sit amet, #brands.</p>
                            </div>
                        </div>
                    </div>
                    <img src="https://png.pngtree.com/background/20230517/original/pngtree-wolfs-full-hd-wallpaper-art-wallpaper-1920x1080-1080p-picture-image_2634113.jpg" class="w-full z-0 h-full object-fill example">
                </div>
            </a>
            
        </div>
    </div>
</section>

</main>
<footer class="container h-fit bg-gray-500 text-white flex flex-row-reverse">
  <div class="flex-none w-fit h-fit text-right px-6 py-6 divide-y divide-white">
    <div class="">
      <h1>Contacts me</h1>
      <p>He.ale.cladera&#64;gmail.com</p>
      <p>cladera.ale&#64;gmail.com</p>
      <p>he.ale.cladera&#64;outlook.com</p>
      <p>+591 63859667</p>
    </div>
    <div class="">
      <h1>Others</h1>
      <p>LinkendIn</p>
      <p>GitHub</p>
      <p>GitLab</p>
      <p>Tableau</p>
      <p>DockerHub</p>
    </div>
  </div>
  
</footer>