<!--rm -rf carpeta <nav></nav>
<header></header>
<main>
  <router-outlet></router-outlet>
</main>
<footer></footer> -->
<section class="bg-[url('/cartoon-workaholic-8828808_1280.jpg')] bg-cover bg-no-repeat h-screen">
    <header class="relative z-10">
        <app-nav-component />
        <div class="flex items-center justify-center h-screen">
          <div class="">
            <h1 class="text-white">Contenido sobre la imagen</h1>
          </div>
        </div>
    </header>
</section>

<main class="h-screen bg-gray-200">
  <h1 class="text-3xl font-mono underline">
    Hello "main"!
  </h1>
  <p class="font-mono">dashboard works!</p>
</main>
<footer class="h-2/3 bg-gray-500 text-white">
  <h1 class="text-3xl font-mono underline">
    Hello "footer"!
  </h1>
  <p class="font-mono ">dashboard works!</p>
</footer>